@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden; /* 👈 prevents horizontal scroll caused by overflow */
}

* {
  box-sizing: inherit;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: 'Satoshi', sans-serif;
  background-color: #F8F7F4;
  color: var(--foreground);
}

@keyframes dash {
  0% {
    stroke-dashoffset: 120;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.animate-dash {
  stroke-dasharray: 120;
  stroke-dashoffset: 120;
  animation: dash 2s ease-in-out forwards;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi/Satoshi-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi/Satoshi-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi/Satoshi-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
